<h1>Add a picture</h1>
<!-- <form action="/pictures" method="POST"> -->
<%= form_for @picture do |f| %>
	<p>
		<!-- <label>Artist</label><br> -->
		<%= f.label "artist" %><br>
		<!-- <input type="text" name="artist"/> -->
		<%= f.text_field "artist" %>
	</p>
	<p>
		<!-- <label>Title</label><br> -->
		<%= f.label "title" %><br>
		<!-- <input type="text" name="title"/> -->
		<%= f.text_field "title" %>
	</p>
	<p>
		<!-- <label>URL</label><br> -->
		<%= f.label "url" %><br>
		<!-- <input type="text" name="url"/> -->
		<%= f.text_field "url" %>
	</p>
	<p>
		<!-- <input type="submit"/> -->
		<%= f.submit "Save" %>
	</p>
<!-- </form> -->
<% end %>