<h1>Add a picture</h1>
<!-- <form action="/pictures" method="POST"> -->
<%= form_tag "/pictures" do %>
	<p>
		<!-- <label>Artist</label><br> -->
		<%= label_tag "artist" %><br>
		<!-- <input type="text" name="artist"/> -->
		<%= text_field_tag "artist" %>
	</p>
	<p>
		<!-- <label>Title</label><br> -->
		<%= label_tag "title" %><br>
		<!-- <input type="text" name="title"/> -->
		<%= text_field_tag "title" %>
	</p>
	<p>
		<!-- <label>URL</label><br> -->
		<%= label_tag "url" %><br>
		<!-- <input type="text" name="url"/> -->
		<%= text_field_tag "url" %>
	</p>
	<p>
		<!-- <input type="submit"/> -->
		<%= submit_tag "Save" %>
	</p>
<!-- </form> -->
<% end %>